/* start: Basic styles  */
@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

*{
    font-family: 'Varela Round', sans-serif;
}

body{
    background-color: #e9e9e9;
    overflow: hidden;
}

hr{
    border: 1px solid #dadada;
}

.container{
    margin-top: 2%; 
    padding: 2rem;
}

.card{
    position: relative;
    width: 50%;
    min-height: 14vh;
    position: relative;
    margin: auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 5px 10px 15px #c2c2c2;
}

.card-header{
    position: absolute;
    width: calc(100% - 4rem);
    height: auto;
    background-color: white;
}

.btn-submit{
    border: 1px solid #dfd3d3;
    padding: 1rem;
    float: right;
    border-radius: 5px;
    background-color: #fff;
    transition: background-color .2s;
    outline: none;
}

.btn-submit:hover{
    cursor: pointer;
    background-color: #eeeeee;
}

.form-control{
    border: 1px solid #dfd3d3;
    width: 60%;
    padding: 1rem;
    border-radius: 5px;
    transition: box-shadow .3s;
}

.form-control:focus{
    box-shadow: inset 0 0 3px #c5c5c5;
}

.text-secondary{
    color: #383838dd;
}

/* end: Basic styles  */

/* start : section body card */
.counterRepos{
    background-color: rgb(184, 184, 184);
    padding: .2rem .8rem;
    height: auto;    
    border-radius: 8px;
    font-size: .8rem;
    margin-left: 1%;
}

.card-body{
    position: absolute;
    margin-top: 15%;
    width: calc(100% - 4rem);
    height: calc(85% - 4rem);
}

#withUser{
    height: 100%;
    width: 100%;
    display: none;
}

.user-data{
    position: relative;
    width: 100%;
    height: 25%;
}

.img-profile-container{
    position: absolute;
    width: 15vw;
    height: 100%;
}

.img-profile-container img{
    position: absolute;
    width: auto;
    height: 100%;
    border-radius: 5px;
}

.data-container{
    position: absolute;
    width: calc(100% - (15vw + 5%) ) ;
    height: calc(100% - 1rem);
    left: calc(15vw + 5% - 1rem);
    padding: 1rem;
}

.repos{
    position: relative;
    width: 100%;
    min-height: 70%;
    margin-top: 3%;
}

#repositories{
    width: 100%;
    min-height: 39vh;
    max-height: 39vh;
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
}

.wrapper-repo{
    padding: 0rem 2rem;
    display: flex;
    width: 88%;
}

.repoTitle{
    width: 60%;
    height: auto;
}

.details-repo{
    display: inherit;
    width: 40%;
    height: auto;
}

.details-repo .details{
    width: 50%;
    right:  20%;
} 
/* end : section body card  */

/* start : card footer */
.card-footer{
    margin-top: 1rem;
    padding: 8px 0;
    border-top: 2px solid rgb(187, 185, 185);
    width: 100%;
    text-align: center;
    color: #858585;
    font-size: .8rem ;
}
/* end : card footer */

/* Error notice  */
.error-notice{
    background-color: #dfa6a6;
    width: calc(100% - 4rem);
    height: calc(100% - 8rem); 
    border-radius: 5px;
    border: 2px solid #e05f5f;
    padding: 2rem;
    text-align: center;
    color: #861212;
    display: none;
}
@media (min-width:1250px){
    .card{
        width: 29%;
    }
    .data-container{
        left: calc(11vw + 5% - 1rem);
        width: calc(100% - (11vw + 5%) );
    };
}